.wrapper {
    @extend %mxw;
}

.text-center {
    text-align: center;
}

.section-site {
    padding: 30px 0;
}

.section-site-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 15px 30px;
}

.section-site-title.section-site-title-sm {
    font-size: 20px;
}

header {
    background: url('../img/header-bg.jpg') no-repeat center;
    background-size: cover;
    padding-bottom: 30px;

    .links {
        @extend %mxw;
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        &>div {
            width: 33.33%;
            padding: 10px 15px;

            @include breakpoint-md {
                width: 100%;
            }
        }

        .logo {
            a {
                color: $color-light;
                font-size: 28px;
            }
        }

        .search {
            .searchbar {
                position: relative;

                input {
                    display: block;
                    font-size: 1rem;
                    padding: 5px 20px;
                    padding-right: 40px;
                    width: 100%;
                    height: 100%;
                    border: none;
                }

                button {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40px;
                    height: 100%;
                    border: none;
                    background: transparent;
                    color: $color-primary;
                }
            }
        }

        .sub-links {
            text-align: right;
            a {
                margin-left: 0.5rem;
                color: $color-dark;
                font-size: 0.75rem;

                i {
                    font-size: 1rem;
                    color: $bg-primary;
                }
            }
        }
    }

    .navbar {
        background: rgba(255, 255, 255, 0.5); 
        padding: 0 15px;
        position: relative;
        // top: 0;
        // z-index: 10;

        #menu-toggle {
            display: none;
        }

        .menu-btn {
            display: none;
            cursor: pointer;
            font-size: 1.5rem;
            width: 40px;
            height: 40px;
            margin: auto;
            line-height: 40px;
            text-align: center;

            @include breakpoint-md {
                display: block;
            }
        }

        #menu-toggle:checked ~ .menu {
            @include breakpoint-md {
                display: block;
            }
        }

        .menu {
            display: flex;
            justify-content: center;
            @extend %mxw;

            li {
                margin: 0 15px;

                a {
                    display: block;
                    padding: 22px 0;
                    border-bottom: 5px solid transparent;
                    font-size: 0.75rem;
                    text-align: center;

                    &:hover {
                        color: $color-primary;
                        border-bottom-color: $bg-primary;
                    }
                }
            }

            @include breakpoint-md {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background: rgba(255, 255, 255, 0.8);
                
                li {
                    margin: 0;
                    a {
                       border: 0;
                    }
                }
            }
        }
    }
}

footer {
    &>div:nth-child(1) {
        padding-top: 70px;
        padding-bottom: 30px;
        background: #323232;

        .container {
            display: flex;
            flex-wrap: wrap;
        }

        .footer-item {
            padding: 0 15px 30px;

            h3 {
                font-size: 18px;
                color: $color-light;
                font-weight: bold;
                padding-bottom: 20px;
            }

            a {
                display: block;
                font-size: 12px;
                color: #767676;
                line-height: 2.4;

                &:hover {
                    color: $color-primary;
                }
            }

            .subscribe-form {
                input {
                    display: block;
                    width: 100%;
                    height: 35px;
                    padding: 5px 10px 5px 25px;
                    background: #4d4d4d;
                    margin-bottom: 15px;
                    border: 0;
                    color: $color-light;
                }

                button {
                    background: #4d4d4d;
                    padding: 14px;
                    color: $color-primary;
                    letter-spacing: 0.5px;
                    border: 0;
                    transition: all 0.5s;
                    float: right;
                    font-weight: bold;

                    &:hover {
                        background: $bg-primary;
                        color: $color-light;
                    }
                }
            }

            .links {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;

                a {
                    line-height: inherit;
                    font-size: 32px;
                    margin: 4px;
                }
            }
        }
    }

    &>div:nth-child(2) {
        padding: 20px 15px;
        font-size: 12px;
        background: #000;
        color: $color-light;
    }
}

.page-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.page-title.border-b {
    border-bottom: 1px solid gray;
}