@mixin breakpoint-xl(){
    @media (max-width:1200px) {
        @content;
    }
}
@mixin breakpoint-lg(){
    @media (max-width:992px){
        @content;
    }
}
@mixin breakpoint-md{
    @media (max-width:768px) {
        @content;
    }
}
@mixin breakpoint-sm(){
    @media (max-width:576px){
        @content;
    }
}
@mixin breakpoint-xs(){
    @media (max-width:375px) {
        @content;
    }
}