$bg-primary: #2D75E3;
$bg-secondary: #462DE3;
$bg-tertiary: #8533FD;
$bg-marked: #FF3C35;
$bg-dark: #2f2f2f;
$bg-light: #F5F5F5;

$color-primary: #2D75E3;
$color-secondary: #462DE3;
$color-tertiary: #8533FD;
$color-marked: #FF3C35;
$color-dark: #2f2f2f;
$color-light: #F5F5F5;