/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* my add */
  font-family: sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my add */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

button {
  cursor: pointer;
}

input, button {
  outline: none;
}

header .navbar .menu, header .links, .wrapper {
  max-width: 1200px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.section-site {
  padding: 30px 0;
}

.section-site-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 15px 30px;
}

.section-site-title.section-site-title-sm {
  font-size: 20px;
}

header {
  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 30px;
}
header .links {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header .links > div {
  width: 33.33%;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  header .links > div {
    width: 100%;
  }
}
header .links .logo a {
  color: #F5F5F5;
  font-size: 28px;
}
header .links .search .searchbar {
  position: relative;
}
header .links .search .searchbar input {
  display: block;
  font-size: 1rem;
  padding: 5px 20px;
  padding-right: 40px;
  width: 100%;
  height: 100%;
  border: none;
}
header .links .search .searchbar button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  border: none;
  background: transparent;
  color: #2D75E3;
}
header .links .sub-links {
  text-align: right;
}
header .links .sub-links a {
  margin-left: 0.5rem;
  color: #2f2f2f;
  font-size: 0.75rem;
}
header .links .sub-links a i {
  font-size: 1rem;
  color: #2D75E3;
}
header .navbar {
  background: rgba(255, 255, 255, 0.5);
  padding: 0 15px;
  position: relative;
}
header .navbar #menu-toggle {
  display: none;
}
header .navbar .menu-btn {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  margin: auto;
  line-height: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  header .navbar .menu-btn {
    display: block;
  }
}
@media (max-width: 768px) {
  header .navbar #menu-toggle:checked ~ .menu {
    display: block;
  }
}
header .navbar .menu {
  display: flex;
  justify-content: center;
}
header .navbar .menu li {
  margin: 0 15px;
}
header .navbar .menu li a {
  display: block;
  padding: 22px 0;
  border-bottom: 5px solid transparent;
  font-size: 0.75rem;
  text-align: center;
}
header .navbar .menu li a:hover {
  color: #2D75E3;
  border-bottom-color: #2D75E3;
}
@media (max-width: 768px) {
  header .navbar .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
  }
  header .navbar .menu li {
    margin: 0;
  }
  header .navbar .menu li a {
    border: 0;
  }
}

footer > div:nth-child(1) {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #323232;
}
footer > div:nth-child(1) .container {
  display: flex;
  flex-wrap: wrap;
}
footer > div:nth-child(1) .footer-item {
  padding: 0 15px 30px;
}
footer > div:nth-child(1) .footer-item h3 {
  font-size: 18px;
  color: #F5F5F5;
  font-weight: bold;
  padding-bottom: 20px;
}
footer > div:nth-child(1) .footer-item a {
  display: block;
  font-size: 12px;
  color: #767676;
  line-height: 2.4;
}
footer > div:nth-child(1) .footer-item a:hover {
  color: #2D75E3;
}
footer > div:nth-child(1) .footer-item .subscribe-form input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 10px 5px 25px;
  background: #4d4d4d;
  margin-bottom: 15px;
  border: 0;
  color: #F5F5F5;
}
footer > div:nth-child(1) .footer-item .subscribe-form button {
  background: #4d4d4d;
  padding: 14px;
  color: #2D75E3;
  letter-spacing: 0.5px;
  border: 0;
  transition: all 0.5s;
  float: right;
  font-weight: bold;
}
footer > div:nth-child(1) .footer-item .subscribe-form button:hover {
  background: #2D75E3;
  color: #F5F5F5;
}
footer > div:nth-child(1) .footer-item .links {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
footer > div:nth-child(1) .footer-item .links a {
  line-height: inherit;
  font-size: 32px;
  margin: 4px;
}
footer > div:nth-child(2) {
  padding: 20px 15px;
  font-size: 12px;
  background: #000;
  color: #F5F5F5;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.page-title.border-b {
  border-bottom: 1px solid gray;
}

.container {
  max-width: 1200px;
}

.btn {
  padding: 5px 13px;
  font-size: 12px;
  border: 0;
  letter-spacing: 0.5px;
}

.btn-lg {
  padding: 14px;
}

/* margin-top */
.m-t-xl {
  margin-top: 70px;
}

.m-t-l {
  margin-top: 50px;
}

.m-t-m {
  margin-top: 30px;
}

.m-t-s {
  margin-top: 15px;
}

.m-t-xs {
  margin-top: 10px;
}

/* margin-bottom */
.m-b-xl {
  margin-bottom: 70px;
}

.m-b-l {
  margin-bottom: 50px;
}

.m-b-m {
  margin-bottom: 30px;
}

.m-b-s {
  margin-bottom: 15px;
}

.m-b-xs {
  margin-bottom: 10px;
}

/* margin-left */
.m-l-xl {
  margin-left: 70px;
}

.m-l-l {
  margin-left: 50px;
}

.m-l-m {
  margin-left: 30px;
}

.m-l-s {
  margin-left: 15px;
}

.m-l-xs {
  margin-left: 10px;
}

/* margin-right */
.m-r-xl {
  margin-right: 70px;
}

.m-r-l {
  margin-right: 50px;
}

.m-r-m {
  margin-right: 30px;
}

.m-r-s {
  margin-right: 15px;
}

.m-r-xs {
  margin-right: 10px;
}

/* margin horizontal */
.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-x-xl {
  margin-left: 70px;
  margin-right: 70px;
}

.m-x-l {
  margin-left: 50px;
  margin-right: 50px;
}

.m-x-m {
  margin-left: 30px;
  margin-right: 30px;
}

.m-x-s {
  margin-left: 15px;
  margin-right: 15px;
}

.m-x-xs {
  margin-left: 10px;
  margin-right: 10px;
}

/* margin vertical */
.m-y-xl {
  margin-top: 70px;
  margin-bottom: 70px;
}

.m-y-l {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-y-m {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m-y-s {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-y-xs {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* padding-top */
.p-t-xl {
  padding-top: 70px;
}

.p-t-l {
  padding-top: 50px;
}

.p-t-m {
  padding-top: 30px;
}

.p-t-s {
  padding-top: 15px;
}

.p-t-xs {
  padding-top: 10px;
}

/* padding-bottom */
.p-b-xl {
  padding-bottom: 70px;
}

.p-b-l {
  padding-bottom: 50px;
}

.p-b-m {
  padding-bottom: 30px;
}

.p-b-s {
  padding-bottom: 15px;
}

.p-b-xs {
  padding-bottom: 10px;
}

/* padding-left */
.p-l-xl {
  padding-left: 70px;
}

.p-l-l {
  padding-left: 50px;
}

.p-l-m {
  padding-left: 30px;
}

.p-l-s {
  padding-left: 15px;
}

.p-l-xs {
  padding-left: 10px;
}

/* padding-right */
.p-r-xl {
  padding-right: 70px;
}

.p-r-l {
  padding-right: 50px;
}

.p-r-m {
  padding-right: 30px;
}

.p-r-s {
  padding-right: 15px;
}

.p-r-xs {
  padding-right: 10px;
}

/* padding horizontal */
.p-x-xl {
  padding-left: 70px;
  padding-right: 70px;
}

.p-x-l {
  padding-left: 50px;
  padding-right: 50px;
}

.p-x-m {
  padding-left: 30px;
  padding-right: 30px;
}

.p-x-s {
  padding-left: 15px;
  padding-right: 15px;
}

.p-x-xs {
  padding-left: 10px;
  padding-right: 10px;
}

/* padding vertical */
.p-y-xl {
  padding-top: 70px;
  padding-bottom: 70px;
}

.p-y-l {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-y-m {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-y-s {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-y-xs {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* display block */
.d-block {
  display: block;
}

/* display flex */
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

/* col */
.col-md-1 {
  width: 8.33%;
}
@media (max-width: 768px) {
  .col-md-1 {
    width: 100%;
  }
}

.col-md-2 {
  width: 16.66%;
}
@media (max-width: 768px) {
  .col-md-2 {
    width: 100%;
  }
}

.col-md-3 {
  width: 25%;
}
@media (max-width: 768px) {
  .col-md-3 {
    width: 100%;
  }
}

.col-md-4 {
  width: 33.33%;
}
@media (max-width: 768px) {
  .col-md-4 {
    width: 100%;
  }
}

.col-md-5 {
  width: 41.66%;
}
@media (max-width: 768px) {
  .col-md-5 {
    width: 100%;
  }
}

.col-md-6 {
  width: 50%;
}
@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
  }
}

.col-md-7 {
  width: 58.33%;
}
@media (max-width: 768px) {
  .col-md-7 {
    width: 100%;
  }
}

.col-md-8 {
  width: 66.66%;
}
@media (max-width: 768px) {
  .col-md-8 {
    width: 100%;
  }
}

.col-md-9 {
  width: 75%;
}
@media (max-width: 768px) {
  .col-md-9 {
    width: 100%;
  }
}

.col-md-10 {
  width: 83.33%;
}
@media (max-width: 768px) {
  .col-md-10 {
    width: 100%;
  }
}

.col-md-11 {
  width: 91.66%;
}
@media (max-width: 768px) {
  .col-md-11 {
    width: 100%;
  }
}

.col-md-12 {
  width: 100%;
}
@media (max-width: 768px) {
  .col-md-12 {
    width: 100%;
  }
}

.information li {
  width: 100%;
  background: #F5F5F5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.information li:first-child {
  padding: 20px;
  background: #2D75E3;
  border-bottom: 0;
  color: #F5F5F5;
  font-weight: bold;
}
.information li:last-child {
  border-bottom: 0;
}
.information li a {
  display: block;
  padding: 12px 20px;
  height: 100%;
  line-height: 25px;
}
.information li a:hover {
  background: rgba(0, 0, 0, 0.07);
}
@media (max-width: 768px) {
  .information {
    margin-bottom: 30px;
  }
}

.shopNow-container .shopNow > div, .shopNow-container .shopNow-larger > div {
  padding: 30px;
}
.shopNow-container .shopNow > div h3, .shopNow-container .shopNow > div p, .shopNow-container .shopNow-larger > div h3, .shopNow-container .shopNow-larger > div p {
  line-height: 1.5rem;
  font-weight: bold;
}
.shopNow-container .shopNow > div h3, .shopNow-container .shopNow-larger > div h3 {
  color: #F5F5F5;
  margin-top: 30px;
}
.shopNow-container .shopNow > div p, .shopNow-container .shopNow-larger > div p {
  color: #2f2f2f;
}
.shopNow-container .shopNow > div a, .shopNow-container .shopNow-larger > div a {
  display: inline-block;
  color: #F5F5F5;
  font-weight: bold;
  border: 2px solid #F5F5F5;
  padding: 5px 13px;
  margin: 10px 0 30px;
}
@media (max-width: 768px) {
  .shopNow-container .shopNow, .shopNow-container .shopNow-larger {
    margin-bottom: 1.5rem;
  }
}
.shopNow-container .shopNow:nth-child(1) > div {
  background: #2D75E3 url("../img/shopnow1.png") no-repeat;
  background-position: 85px;
  background-size: cover;
}
.shopNow-container .shopNow:nth-child(2) > div {
  background: #462DE3 url("../img/shopnow2.png") no-repeat;
  background-position: 180px;
  background-size: contain;
}
.shopNow-container .shopNow:nth-child(3) > div {
  background: #8533FD url("../img/shopnow3.png") no-repeat;
  background-position: 136px;
  background-size: contain;
}
.shopNow-container .shopNow-larger > div {
  height: 100%;
}
.shopNow-container .shopNow-larger:nth-child(1) > div {
  background: #8533FD url("../img/shopnow4.png") no-repeat;
  background-position: 335px center;
  background-size: contain;
  padding: 70px 15px;
}
@media (max-width: 576px) {
  .shopNow-container .shopNow-larger:nth-child(1) > div {
    background-position: 150px center;
  }
}
.shopNow-container .shopNow-larger:nth-child(1) > div p {
  width: 45%;
}
.shopNow-container .shopNow-larger:nth-child(2) > div {
  background: #462DE3 url("../img/shopnow5.png") no-repeat;
  background-position: center 10px;
  background-size: auto 50%;
  padding-top: 155px;
  text-align: center;
}

.product-card {
  padding: 0 15px;
  margin-bottom: 40px;
}
.product-card img {
  width: 100%;
  margin-bottom: 1.5rem;
}
.product-card p {
  margin-bottom: 0.5rem;
}
.product-card strong {
  display: block;
  font-weight: bold;
  color: #FF3C35;
  margin-bottom: 1rem;
}
.product-card button {
  display: block;
  background: #2D75E3;
  border: 0;
  border-radius: 50px;
  font-weight: bold;
  color: #F5F5F5;
  padding: 10px 20px;
}
.product-card button:hover {
  background: #8533FD;
}

.features-container .col-md-4:nth-child(1) > div {
  background: #2D75E3;
}
.features-container .col-md-4:nth-child(2) > div {
  background: #462DE3;
}
.features-container .col-md-4:nth-child(3) > div {
  background: #8533FD;
}
.features-container .col-md-4 > div {
  padding: 30px;
}
@media (max-width: 768px) {
  .features-container .col-md-4 > div {
    margin: 0 15px;
  }
}
.features-container .col-md-4 > div h3, .features-container .col-md-4 > div p {
  color: #F5F5F5;
}
.features-container .col-md-4 > div h3 {
  padding: 70px 0 8px;
  font-size: 30px;
}
.features-container .col-md-4 > div p {
  padding-bottom: 70px;
  font-size: 24px;
}

.blogs-container .blog {
  padding: 0 15px 15px;
}
.blogs-container .blog img {
  width: 100%;
  height: auto;
  margin: 10px auto;
}
.blogs-container .blog .blog-content {
  display: flex;
  flex-direction: column;
}
.blogs-container .blog .blog-content h3 {
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: bold;
}
.blogs-container .blog .blog-content > div {
  display: flex;
  padding-bottom: 10px;
}
.blogs-container .blog .blog-content > div span {
  font-size: 12px;
  width: 50%;
}
.blogs-container .blog .blog-content > div span i {
  padding-right: 10px;
}
.blogs-container .blog .blog-content p {
  font-size: 12px;
  line-height: 1.3;
  padding-bottom: 10px;
}
.blogs-container .blog .blog-content button {
  color: #F5F5F5;
  font-weight: bold;
  padding: 6px 12px;
  background: #2D75E3;
  align-self: flex-start;
  border: 0;
  margin-bottom: 10px;
  letter-spacing: 1.3px;
  font-size: 12px;
}
.blogs-container .blog .blog-content button:hover {
  background: #8533FD;
}

.about-page p {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #767676;
}

.store-card, .ourteam-card {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.store-card i, .ourteam-card i {
  padding: 10px 0;
  font-size: 5rem;
  color: #2D75E3;
}
.store-card img, .ourteam-card img {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.store-card h4, .ourteam-card h4 {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 15px;
  color: #2f2f2f;
}
.store-card p, .ourteam-card p {
  padding-bottom: 30px;
}

.ourlocation strong, .ourlocation span {
  font-size: 12px;
  line-height: 1.5;
}
.ourlocation strong {
  font-weight: bold;
}
.ourlocation span {
  color: #767676;
}
.ourlocation span.logo {
  font-size: 28px;
  color: #2f2f2f;
}
.ourlocation i {
  color: #2D75E3;
  font-size: 40px;
}
@media (max-width: 768px) {
  .ourlocation .col-md-4:nth-child(1) {
    order: 1;
  }
  .ourlocation .col-md-4:nth-child(2) {
    order: 3;
  }
  .ourlocation .col-md-4:nth-child(3) {
    order: 4;
  }
  .ourlocation .col-md-4:nth-child(4) {
    order: 2;
  }
  .ourlocation .col-md-4:nth-child(5) {
    order: 5;
  }
  .ourlocation .col-md-4:nth-child(6) {
    order: 6;
  }
}

/* breadcrumb */
.breadcrumb {
  display: flex;
  padding: 30px 0 25px;
}
.breadcrumb li:first-child a:hover {
  color: #2D75E3;
}
.breadcrumb li:last-child:before {
  content: ">";
  margin: 0 10px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  padding: 0 15px;
  width: 75%;
  height: 370px;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* The dots/bullets/indicators */
  /* Fading animation */
  /* On smaller screens, decrease text size */
}
@media (max-width: 768px) {
  .slideshow-container {
    width: 100%;
    height: 240px;
  }
}
.slideshow-container .mySlides {
  display: none;
  height: 100%;
  position: relative;
  padding: 60px 0 0 70px;
}
@media (max-width: 768px) {
  .slideshow-container .mySlides {
    padding: 40px;
  }
}
.slideshow-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}
.slideshow-container .mySlides-content {
  position: relative;
  z-index: 1;
}
.slideshow-container .mySlides-content h3 {
  font-size: 3rem;
  color: #2f2f2f;
  padding-bottom: 10px;
}
.slideshow-container .mySlides-content p:nth-child(2) {
  color: #2D75E3;
  padding-bottom: 10px;
}
.slideshow-container .mySlides-content p:nth-child(3) {
  color: #2f2f2f;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .slideshow-container .mySlides-content {
    background: rgba(255, 255, 255, 0.5);
  }
  .slideshow-container .mySlides-content h3 {
    font-size: 24px;
  }
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slideshow-container .next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .controller {
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
}
.slideshow-container .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow-container .active, .slideshow-container .dot:hover {
  background-color: #717171;
}
.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .slideshow-container .prev, .slideshow-container .next, .slideshow-container .text {
    font-size: 11px;
  }
}

.contact-form .input-container label {
  margin-bottom: 5px;
}
.contact-form .input-container input, .contact-form .input-container textarea {
  padding: 5px 10px;
  outline: none;
  background: #eee;
  border: 0;
}
.contact-form .input-container input {
  height: 35px;
}
.contact-form .input-container textarea {
  resize: vertical;
}
.contact-form .btn {
  float: right;
  background: #2D75E3;
  color: #F5F5F5;
  font-weight: bold;
}
.contact-form .btn:hover {
  background: #8533FD;
}

/*# sourceMappingURL=all.css.map */
